@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);

@font-face
{
  font-family: Impossible;
  src: url(fonts/IMPOS2.ttf);
}
.item, h4, p, li, em  {
  font-family: 'Lekton', sans-serif;
  color: #09c12b;
  font-weight: normal;
}

.briefing {
  font-size: 90%;
  text-transform: uppercase;
}

.mission-active {
  display: none;
}

.item {
  padding:.4em 1.5em; 
  /*background-color: rgba(22, 48, 23, 0.2);*/
  margin: 2px 0px;
  list-style-type: square; 
}

.item:hover {
  cursor:pointer;
}

.auth {
  display:none;
}

h3 {
  text-align: center;
}

h1{
  color: #09c12b;

  font-family: Impossible, sans-serif;
  margin: 0 auto;
}

.white {
  color: #fff;
}

.green {
  color: #09c12b;
}

#todo-list li  {
  border-bottom: 1px dotted grey;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center {
  text-align: center;
  vertical-align: center;
}



body {
  background-color: #000;
  background-image: url(images/world.gif);
  background-size: auto 900px;
  background-repeat: repeat-y;

}


/* end universal  */

@media only screen and (min-width: 768px) {
  .container {
    margin-top:50px;
  } 
}

@media only screen and (min-width: 900px) {

  body {
    background-size:110%;
    background-position: 0px 45px;
  }
}



h1 {
  font-size: 3em;
}

.container {
  margin-top:0px ;
  position: absolute;
}


.box {
  background: rgba(0, 0, 0, 0.8);
  padding: 2%;
  padding-left:1em;
  padding-right:1em;  
  border-width: 2px;
}

button {
color: #FFF ;
background-color:rgba(10, 10, 255, .1);

}

button, .button { 
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.3em;
  border-radius: 0px;
  font-family: 'Lekton', sans-serif;
  margin-bottom: 10px;
  padding: .5em 1.5em;
}

.button {
  background-color:(0,0,0, 0.9); 
  color:rgba(255, 0, 0, .9);
  border: dotted #FF0000;
  border-width: 1px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .5em
}


#minutes{
  width:50%;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.checked{
  text-decoration: line-through;
  color: #999;
}
.countdown{
  font-size: 30px;
  text-align: center;
  font-family: Impossible, sans-serif;
  color: red;
  width: 80%;
  display: block;
  margin: 0 auto;
}

#due-time{
  max-width: 200px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
input[type="text"] {
  font-family: 'Lekton', sans-serif;
  background-color: rgba(9, 165, 38, 0.5)
}

 input[type="text"]:focus {    
  background-color: rgba(9, 165, 38, 0.55);
}

#task {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  border-radius: 6px;
  padding: .4em;
  
}

#start:hover, .logout:hover, .login  {
cursor: pointer;
}

.nav {
  padding-left: 1.5em;
  padding-top: .3em;
}